.welcome-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.welcome-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.title-container {
    width: 390px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
}

.welcome-button {
    width: 100%;
    background: #7579B6 !important;
    margin-top: 10px;
}